parameters:
    ignoreErrors:
        - identifier: missingType.iterableValue
        - '#Cannot call method .* React\\Stream\\ReadableStreamInterface\|.*#'
        - '#Cannot call method .* on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        - '#Parameter \#1 \$json of function json_decode expects string, mixed given.#'
