parameters:
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Cannot call method .* React\\Stream\\ReadableStreamInterface\|.*#'
        - '#Cannot call method .* on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null.#'
        # Bad type comment in the library:
        - '#Cannot access offset 3 on React\\Stream\\ReadableStreamInterface\|React\\Stream\\WritableStreamInterface.#'
